
/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('webfonts/leaguegothic-italic-webfont.eot');
    src: url('webfonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('webfonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('webfonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('webfonts/leaguegothic-regular-webfont.eot');
    src: url('webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
