/**
 * @license
 * Klim Type Foundry * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 1985, 1987, 1994, 2001 Adobe Systems Incorporated.  All Rights Reserved.
 * 
 * © 2015 Klim Type Foundry
*/



@font-face {
    font-family: 'PitchWeb-Medium';
    src: url('http://parrotdog.co.nz/wp-content/themes/parrotdog-child/fonts/PitchWeb-Medium.eot');
    src: url('http://parrotdog.co.nz/wp-content/themes/parrotdog-child/fonts/PitchWeb-Medium.eot?#iefix') format('embedded-opentype'),
        url('http://parrotdog.co.nz/wp-content/themes/parrotdog-child/fonts/PitchWeb-Mediumt.woff') format('woff'),;
    font-weight: normal;
    font-style: normal;
}

