$pitch: 'Pitch-Medium',Sans-Serif;
$bold: 800;
$bloodhound: rgba(166,25,46,0.9) !important;
$deadcanary: rgba(255,103,64,0.9) !important;
$bitterbitch: rgba(74, 119, 60, 0.9) !important;
$pandemonium: rgba(234, 170, 0, 0.9) !important;
$clippedwing: rgba(0, 87, 118, 0.9) !important;


body,html{
	width:100%;
	height:100%;
}

.container-outer { 
	overflow: scroll;
	width: 100%;
	height: 340px;
	overflow-y: hidden; 
	padding-left: 2.5%;
}

.container-inner { 
	width: 4000px;
}

.container-outer img{
	width: 300px;
	margin: 20px;
}

.sponsorship-form{
	width:70%;
	text-align: left;
	margin: 0 auto;
	input.wpcf7-form-control.wpcf7-submit{
		width: 100%;
	}
}

div.forty.news{
	padding-right: 40px;
}

.video .flexslider{
	padding: 20px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

div#news-slider.flexslider{
	padding: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	margin-top: 40px;
	border-radius: 0px;
	background-color: #fff;
}



#limited-slide .flexslider{
	padding: 0px;
	overflow: hidden;
}

.center{
	text-align: center;
}

.half{
	width: 50%;
	float: left;
	padding:0 5%;
}

.left{
	padding-right: 5%;
}

.sixty{
	width: 60%;
	float: left;
	padding-right: 10px;
}

.forty{
	width: 40%;
	float: left;
	padding-left: 10px;
}

.seventy{
	width: 70%;
	float: left;
	padding-right: 10px;
}

.thirty{
	width: 33.3%;
	padding: 10px;
	float: left;
}

.hidden{
	display: none;
}


#logo{
	position: absolute;
	left: 5%;
	top: 5px;
	z-index: 999;
}

#logo img{
	width: 150px;

}

#beer-page{
	#home h1{
		margin-bottom: 10px;
		margin-top: 30px;
	}
	#home.beer-pages{
		height: auto !important;
		margin-bottom: 00px;
	}
	#home .home-hover{
		text-align: left;
	}
}

.awards-logo{
	width: 80%;
	padding-top: 10px;
}

img.award{
	padding-bottom: 20px;
}

#awards{
	text-align: left;
	h3{
		font-weight: bold;
		font-family: $pitch;
		letter-spacing: 0px;
		width: 50%;
		float: left;
	}
	p{
		width: 50%;
		float: right;
	}
	ul{
		width: 50%;
		float: right;
		margin-top:-15px;
		margin-bottom: 40px;
	}
	.large-12{
		padding: 0 15%;
	}
	.tupperware{
		padding-top: 0px;
	}
	.year{
		padding-bottom: 40px;
	}
	.introduction{
		p{
			text-align: center;
			width: 100%;
			float: none;
		}
	}
}

#rare-beer{
	h2{
		padding-left: 20px;
	}
	.beer-info{
		h2{
			padding-left: 0px;
		}
	}
}

.news-content{
	a{
		text-decoration: underline;
	}
}

#post-97 #logo img{
	opacity: 1;
}

#starter, #harvey, .facebook, .twitter, .instagram{
	position:fixed; 
	right:50px; 
	top:50px; 
	z-index:999;
	margin-right: 1px;

}

#post-97 #starter, #post-97 #harvey,  #post-97 .facebook, #post-97 .twitter{
	opacity: 1;
}

.facebook, .twitter{
	right:131px; 
}

.facebook{
	right:173px; 
}

.instagram{
	right:90px;
}

.facebook img, .twitter img, .menu img, .close img, .instagram img{
	width: 35px;
}

ul#menu-secondary.top-bar-menu.right{
	margin-top: 100px;
}

ul#menu-primary.top-bar-menu.right{
	margin-top: 120px;
}

.top-bar-section ul li>a{
	display: block;
	width: 100%;
	color: #ffffff;
	padding: 12px 0 12px 0;
	padding-left: 15px;
	font-family: $pitch;
	font-size: 0.9rem;
	font-weight: normal;
	text-transform: none;
	background: #333333;
}

.menu-item{
	width: 100%;
	list-style: none;
}

li.divider{
	display: none;
}

div.large-4.left.module-right{
	padding-left: 40px;
}

.module-right{
	padding-left: 40px;
}

.title-section{
	height: 40vh;
	width: 100%;
	background-color: darkgrey;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}


.title-section:after{
	content: '';
	background-color: rgba(0,0,0,0.1);
	top:0;
	left:0;
	right:0;
	bottom:0;
	position: absolute;
		transition: all 500ms ease;  
	-webkit-transition: all 500ms ease;  /* Safari */
}

#post-11 .title-section, #post-45 .title-section, #post-95 .title-section, #post-38 .title-section{
	height: 40vh;	
}

#beer-page .title-section{
	background-image: url('http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/header-image-matt-2.jpg');
	background-position: center center !important;
}

#post-92 .title-section{
	background-image: url('http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/header-limited.jpg');
}

#more .title-section{
	background-image: url('http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/header-image-more.jpg');
}

#about .title-section{
	background-image: url('http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/header-image-about-II.jpg');
}

#contact .title-section{
	background-image: url('http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/header-image-dist.jpg');
}

#commercials .title-section{
	background-image: url('http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/commercials-background.jpg');
}

#woocommerce {
	.title-section{
	background-image: none;
	background-color: white;
	height:200px;
		.intro-title{
			h1{
				color: black !important;
			}
		}
	}
	.title-section:after{
		background-color: rgba(0, 0, 0, 0.0);
	}
}

#awards .title-section{
	background-image: url('http://parrotdog.co.nz/wp-content/uploads/2015/07/awards-header.jpg');
}

#woocommerce #about-section{
	background: url("http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/beer-bkg.jpg"); 	
	background-position-y: bottom; 
	background-repeat: repeat-x;
}

#post-81 .the-brewery{
	background: url('../images/brewery-background-3.jpg');
	background-position: center center;
}

#commercials .tupperware{
	padding-bottom: 60px;
}

.com-tup{
	padding-top: 60px;
	padding-bottom: 60px;
}

.intro-title{
	position: absolute;
	top:50%;
	margin-top: -45px;
	text-align: center;
	color: white;
	width: 100%;
	z-index: 9;
}

.heading{
	text-align: center;
	float: left;
	background: white url('http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/back-heading.png') center center repeat-x;
	width: 100%;
	text-align: center;
	margin:0px;
	width: 100%;	
	position: relative;
	padding: 0px 0;
}

.heading h2{
	display: inline-block;
	background-color: white;
	padding: 0 10px;
}

.black, .black h2{
	background-color: #333;
	color: white;
}

.dark{
	background: #333;	
	color: white;
	padding-bottom: 100px;
	width: 100%;
}

.latest-news{
	background: #333;	
	color: white;
	padding-bottom: 20px;
	width: 100%;
}

.news{
	margin:20px 0px 0px;
	float: left;
}

#post-97 .news{
	margin-top: 20px;
}

.beer-lineup{
	background: url('http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/beer-carousel-bkg.jpg') no-repeat;
}

.mug-shot{
	float: left;
	position: relative;
}

.mug-shot img{
	max-width: 250px;
	width: 100%;
}

.specials-banner img{
	max-width: 100%;
	width: 90%;
	margin-left: 5%;
	padding-bottom: 50px;
}

.tap-badges img{
	max-width: 300px;
	width: 100%;
}

.beer-page-beers{
	float: left;
	position: relative;
	margin-bottom: 40px;
}

.beer-page-beers img{
	max-width: 100%;
	float: left;
}

.beer-page-beers h1{
	line-height: 70px;
	font-size: 90px;
	margin-bottom: 10px;
}

.beer-page-beers p{
	line-height: 1.3;
	margin-bottom: 5px;
}

.beer-page-beers p.button{
	margin-top: 15px;
}


.large-4{
	padding: 0 10px;
}

.padding-left{
	padding-left: 50px;
}

.home-hover{
	position: absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:15px;
	opacity: 0;
	padding: 10px;
}


#beer-page #beer-section{
	position: relative;
	overflow: auto;
}


#beer-page #beer-section .home-hover{

	top:15px;
	left:10px;
	right:10px;
	bottom:65px;
	padding: 10px;
	width: 88%;
	margin-left: 5%;
	background-color: rgba(0,0,0,0.7);
}

/*=============== CORE colours =============*/

/*=============== Bitterbitch =============*/

.colour-35{
	background-color: $bitterbitch;
}

.background-colour-35{
	color: $bitterbitch;
}

.hover-background-colour-35{
	border-color:$bitterbitch;
}

.hover-background-colour-35:hover{
	background: $bitterbitch;
}
/*=============== Bloodhound =============*/

.colour-42{
	background-color: $bloodhound;
}

.background-colour-42{
	color: $bloodhound;
}

.hover-background-colour-42{
	border-color: $bloodhound;
}

.hover-background-colour-42:hover{
	background: $bloodhound;
}

/*=============== Deadcanary =============*/

.colour-43{
	background-color: $deadcanary;
}

.background-colour-43{
	color: $deadcanary;
}

.hover-background-colour-43{
	border-color: $deadcanary;
}

.hover-background-colour-43:hover{
	background: $deadcanary;
}

/*=============== Pandemonium =============*/


.colour-622{
	background-color: $pandemonium;
}

.background-colour-622{
	color: $pandemonium;
}

.hover-background-colour-622{
	border-color: $pandemonium;
}

.hover-background-colour-622:hover{
	background: $pandemonium;
}

/*==== CLIPPED WING ====*/

.colour-105{
	background-color: $clippedwing;
}

.background-colour-105 {
	color: $clippedwing;
}

.hover-background-colour-105{
	border-color: $clippedwing;
}

.limited-105, #post-105 .button:hover{
	background: $clippedwing;
}

/*=============== SPECIALS colours =============*/


.colour-44{
	background-color: rgba(220,191,36,0.9);
}

.colour-139{
	background-color: rgba(103,48,26,0.9);
}


.background-colour-44{
	color: rgba(220,191,36,0.9);
}

.background-colour-139{
	color: rgba(103,48,26,0.9);
}

.hover-background-colour-44{
	border-color:rgba(220,191,36,0.9) !important;
}

.hover-background-colour-44:hover{
	background: rgba(220,191,36,0.9) !important;
}

.hover-background-colour-139:hover{
	background: rgba(103,48,26,0.9) !important;
}

.hover-background-colour-139{
	border-color:  rgba(103,48,26,0.9) !important;
}



/*=============== SPECIALS colours =============*/


/*==== DEVIL BIRD ====*/

.colour-128{
	background-color: rgba(252,50,0,0.9);
}

.background-colour-128 {
	color: rgba(252,50,0,0.9);
}

.hover-background-colour-128{
	border-color: rgba(252,50,0,0.9) !important;
}

.limited-128, #post-128 .button:hover{
	background: rgba(252,50,0,0.9) !important;
}





/*==== PIT BULL ====*/

.colour-37{
	background-color: rgba(1,62,90,0.9);
}

.background-colour-37 {
	color: rgba(1,62,90,0.9);
}

.hover-background-colour-37{
	border-color: rgba(1,62,90,0.9) !important;
}

.limited-37, #post-37 .button:hover{
	background: rgba(1,62,90,0.9) !important;
}

/*==== SLEUTH HOUND ====*/

.colour-110{
	background-color: rgba(52,50,51,0.9);
}

.background-colour-110 {
	color: rgba(52,50,51,0.9);
}

.hover-background-colour-110{
	border-color: rgba(52,50,51,0.9) !important;
}

.limited-110, #post-110 .button:hover{
	background: rgba(52,50,51,0.9) !important;
}


/*==== BLOODY DINGO ====*/

.colour-113{
	background-color: rgba(197,36,32,0.9);
}

.background-colour-113 {
	color: rgba(197,36,32,0.9);
}

.hover-background-colour-113{
	border-color: rgba(197,36,32,0.9) !important;
}

.limited-113, #post-113 .button:hover{
	background: rgba(197,36,32,0.9) !important;
}

/*==== OTIS ====*/

.colour-112{
	background-color: rgba(129,98,67,0.9);
}

.background-colour-112 {
	color: rgba(129,98,67,0.9);
}

.hover-background-colour-112{
	border-color: rgba(129,98,67,0.9) !important;
}

.limited-112, #post-112 .button:hover{
	background: rgba(129,98,67,0.9) !important;
}

.colour-155, .colour-112, .colour-113, .colour-110, .colour-37, .colour-105, .colour-128, .colour-159{
	background-color: rgba(0,0,0,0.7);
}

.colour-601, .colour-622{
	background-color: rgba(0,0,0,0.7);
}

.light{
	color: white;
}

.light h1{
	color: white;
}

.mug-shot:hover .home-hover{
	opacity: 1;
	transition: all 300ms ease;  
	-webkit-transition: all 300ms ease;  /* Safari */
	overflow: hidden;

}

#limited-slide .mug-shot:hover .home-hover{
	max-width: 250px;
}

#limited-slide .flexslider:hover .flex-next, #limited-slide .flex-direction-nav .flex-prev {
	margin-top: -15%;
}

.mug-shot:hover .colour-44:before, .mug-shot:hover .colour-43:before, .mug-shot:hover .colour-42:before, .mug-shot:hover .colour-35:before, .mug-shot:hover .colour-139:before  { 
  content: '';
  position: absolute;
  left: 12%;
  width: 100%; 
  height: 200%; 
  top: 0;
  -webkit-transform: rotate(36.5deg);
  -moz-transform: rotate(36.5deg);
  transform: rotate(36.5deg);
}



.bottom-feeder{
	position: absolute;
	bottom:10px;
	width: 90%;
}

.newz-container{
	width: 100%;
	color: black;
	background-color: white;
}

.news-container{
	width: 100%;
	color: black;
	background-color: #fff;
}

.news-container h4 {
	font-size: 1rem;
	line-height: 1rem;
	padding-bottom: 0px;
	text-decoration: underline;
}

.about-container{
	width: 100%;
	color: black;
	background-color: #ffffff;
	padding:10px 15px;
}

#about-section{
	padding-bottom: 100px;
}

.category-news, .category-events, .category-promotions{
	padding:10px 15px;
}

.category-news h4{
	color: #fff;
}

.category-events{
	background-color: #fff;
	color: #666;
}

.category-promotions{
	background-color: #777;
	color: #ccc;
}

.category-promotions h4{
	color: #fff;
}

.category-events h3{
	color: #666 !important;
	z-index: 9;
}

.category-events button, .category-events .button{
	color: #666 !important;
	border: 1px solid #666 !important;
}

.category-promotions button, .category-promotions .button{
	color: #fff !important;
	border: 1px solid #fff !important;
}

.tupperware{
	padding: 40px 0px 50px;
}

.specials{
	padding-top: 40px;
}

#limited .specials{
	padding-top: 0px;
}

/*
---------------------
	Single Beer Page
---------------------
*/

.beer-hero{
	width:100%;
	background: url('../images/beer-background.png');
	position: relative;
}

.hero-special{
	max-height: 500px;
	overflow: hidden;
}

#home.beer-hero{
	/*max-height: 80vh;*/
	margin-bottom: 20vh;
	height: 650px;
	margin-bottom: 150px;
}

#home.beer-pages{
	height: 700px !important;
}

.beer-page-title{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

#home .row{
	max-width: 60rem;
}

#home .mug-shot img{
	max-width: 200px;
}

#home #limited-slide .mug-shot img{
	max-width: 9999px;
}

#home .home-hover{
	top:20%;
	bottom: 20%;
	max-height: 400px;
}


#home h1{
	color: black;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 90px;
}

.beer-info{
	width:70%;
	margin:6em auto 2em auto;
	max-width:700px;
}

.beer-info .left, .beer-info .right{
	width:55%;
	float:left;
}

.beer-info .right{
	text-align: center;
}


.beer-info .right{
	width:45%;
}

.beer-info .left h1{
	font-size: 8em;
	text-transform: uppercase;
	line-height: 105px;
	margin-bottom: 20px;
}

.beer-info .left .abv,.beer-info .left .excerpt{
	font-size: 0.875em;
	margin:0;
	padding:0 30px 0 0;
}

.beer-info .left .abv{
	margin-bottom: 25px;
}

.excerpt{
	padding:0 0px 0 0 !important;
}

.beer-info .left .type{
	font-size: 1.125em;
	margin-top:0;
	margin-bottom: 0px;
}

.beer-info .right{
	height:400px;
	/*background: blue;*/
}

.beer-info .right img{
	width:100%;
	max-width:240px;
	height:auto;
	margin-top: -50px;
}

.previous-beer, .next-beer{
	width: 150px;
}

.previous-beer{
	position: absolute;
	left:5%;
	top:50%;
	max-width: 150px;
	text-align: left;
}

.next-beer{
	position: absolute;
	right:5%;
	top:45%;
	max-width: 150px;
	text-align: right;
}

.previous-beer p, .next-beer p{
	height: 30px;
}

.previous-beer a, .next-beer a{
	font-family: $pitch;
	font-size:1em;
	text-align: right;
	color:#ffffff;
	font-size: 1.2em;
	font-weight: bolder;
}

.previous-beer a{
	float: right;
}

.previous-beer a span,.next-beer a span{
	font-size: 1.5em;
	font-weight: bolder;
}

.next-beer a{
	text-align: left;
}

.divider{
	width:100%;
	height:1px;
	margin:20px;
	background: #E6E6E6;
}

.order-online{
	width:70%;
	margin:6em auto 4em auto;
	max-width:700px;
}

.order-online .left,.order-online .right{
	width:50%;
	float:left;
}

.order-online .left{
	margin-top: -40px;
}

.order-online .icons{
	width:100%;
	position: relative;
}

.order-online .icons .single,.order-online .icons .packs,.order-online .icons .tap,.order-online .icons .keg{
	text-align: center;
	float:left;
	margin:0 30px 0 0;
}

.icon-hover{
	display: none;
}


.order-online .icons:hover .icon-hover{
	display: block;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.order-online .icons p{
	margin:10px 0 0 0;
}

.not-available{
	opacity: 0.1 !important;
}

.order-online .button{
	clear:both;
	margin-top:20px;
}

.order-online .button p{
	margin-bottom:0;
	/*color:#52AA3F;*/
}

.order-online .button:hover p{
	color:#ffffff;
}

.order-online .right h1{
	font-size: 5em;
	text-align: right;
	margin:40px 0 0 0;
}

.order-online .right p{
	font-style: italic;
	text-align: right;
	margin-right:10px;
}

.instafeed-container{
	width:70%;
	max-width: 900px;
	margin:4em auto 3em auto;
	position: relative;
}

.instafeed-container img{
	width:33.333333333%;
	height:auto;
	float:left;
}

.instafeed-container .overlay{
	position: absolute;
	width:100%;
	height:100%;
	background: rgba(255,255,255,0.6);
	top:0;
	left:0;
}

.instafeed-container .overlay h1{
	font-size: 8em;
	line-height: 110px;
	text-align: center;
	color:#B3B3B3;
	margin:60px 0 0 0;
}

#post-81{
	padding-bottom: 60px;
}

.the-brewery{
	width:100%;
	height:425px;
	background: url('../images/brewery-background.jpg');
	background-size: cover;
}

.the-brewery .info{
	width:70%;
	max-width: 900px;
	margin:0 auto;
}

.the-brewery .info h1{
	line-height: 80px;
	color:#ffffff;
	margin:60px 0 20px 0;
}

.the-brewery .info .button{
	border-color: #ffffff;
}

.the-brewery .info .button:hover{
	background:none;
}

.the-brewery .info .button p{
	color:#ffffff;
	margin-bottom: 0;
}

.more-than{
	width:100%;
	background: url('../images/brewery-background.jpg');
	background-size: cover;
}

.commercials{
	background-image: url('../images/commercials-background.jpg') !important;
}

.order-online .icons img{
	height: 60px !important;
}

/*
---------------------
	End Single Beer Page
---------------------
*/

#beer-page .row{
	max-width: 60em;
}

.emblems img{
	width: 100px;
}

#beer-page .emblems{
	text-align: center;
}

#beer-page .emblems .home-hover{
	text-align: left;
}


/*
---------------------
	End Single Beer Page
---------------------
*/

footer{
	background-color: #f2f2f2;
}

.footer-col{
	border-left: 1px solid black;
	min-height: 187px;
}

footer ul, footer li{
	list-style: none;
}

footer h4, footer p, footer li, footer a{
	font-size: 0.85rem;
	font-family: $pitch;
	color: black;
}

footer h3{
	margin-left: 1.1rem;
	font-size: 25px;
}

footer .row{
	padding-top: 70px;
	padding-bottom: 50px;
}

footer h3.extra{
	padding-bottom: 10px;
}

.top-bar-section li.active:not(.has-form) a:not(.button){
	background: none;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover{
	background: #222;
}


#contact .forty,
#contact .sixty{
	padding: 40px 40px;
}


#contact .forty{
	padding-right: 10%;
}

#contact .sixty{
	padding-left: 10%;
	padding-right: 10%;
}

#contact .forty h2{
	color: white;
	margin-bottom: 40px;
}

#contact .sixty h2{
	margin-bottom: 40px;
}

#contact .forty p{
	color: white;
	margin-bottom: 10px;
}

.introduction{
	text-align: center;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: 600px !important;
}


#post-81 .right{
	text-align: right !important;
}

.on-tap{
	width: 100%;
	padding: 0 15%;
	text-align: center;
}

.beer-circle{
	width: 16.666%;
	float: left;
}

.beer-circle img{
	width: 80%;
	padding-bottom: 10px;
}

#post-81 .introduction{
	margin-top: 0px;
}

.padding-neutral .left{
	margin-top: 0px;
}

.padding-neutral .left .type{
	font-size: 1.125em;
	margin-top: 0;
}

.padding-neutral .left .abv{
	margin-bottom: 0px;
	}


p.limited{
	margin-bottom: 25px;
	letter-spacing: 4px;
	color: white;
	padding: 6px;
	padding-left: 13px;
	line-height: 18px;
	font-size: 14px;
}	

.limited{
	background-color: black;
	width: 250px;
}

.limited-hero .beer-info .right img{
	max-width: 100%;
	margin-top: 25px;
}


.images{
	padding: 60px 0;
}

.left{
	padding-right: 5%;
}

#about-section .news{
	float: left;
}

#about-section .introduction{
	margin-bottom: 0px;
}


/*====================== WOOCOMMCERCE ======================*/

.woocommerce-message{
	padding-top: 10px;
}

.woocommerce-breadcrumb{
	padding-top: 40px;
	font-family: $pitch;
	border-bottom: 1px solid grey;
	padding-bottom: 15px;
}

.woocommerce-result-count{
	display: none;
}

.woocommerce-ordering{
	width: 250px;
	margin-right: 0px;
	float: right;
	position: absolute;
	top: 30px;
	right: 0;
}

.woocommerce-ordering select{
	-webkit-appearance: none !important;
	background-color: white !important;
	background-repeat: no-repeat;
	background-position: center right 3%;
	border: none !important;
	padding: 0.5rem;
	font-size: 0.875rem;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-family: $pitch;
	font-size: 105%;
}

form.woocommerce-ordering{
	display: none;
}

.woocommerce{
	padding-top: 40px;
}

.cart button{
	margin-top: 10px;
}

#about-section{
	position: relative;
}

.products li{
	list-style: none;
}

.products{
	text-align: center;
	clear: both;
}

.product_type_simple, .product_type_variable{
	display: block !important;
	width: 70%;
	margin: 10px 15% !important;
}

#about-section .images{
	width: 40%;
	float: left;
	text-align: center;
}

#about-section .summary{
	width: 60%;
	float: left;
	padding: 60px 0;
	padding-left: 10%;
	text-align: left;
}

.related{
	width: 100%;
	padding-top: 40px;
	clear: both;
	text-align: left;
}

.related li{
	width: 25%;
	float: left;
}


.quantity input[type="number"]{
	width: 50%;
	margin-bottom: 5px;
	margin-top: 5px;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table{
	font-family: $pitch;
}

.woocommerce table.shop_table input[type="submit"], .woocommerce-page table.shop_table input[type="submit"]{
	font-family: $pitch;
	padding: 10px 20px;
}

.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button{
	background: #ffffff !important;
	border-color: #000000 !important;
	color: #000000 !important;
	text-shadow: none;
	border-radius: 0px !important;
	box-shadow: 0px 0px 0px white !important;
}

table thead, table tfoot, table tr.even, table tr.alt, table tr:nth-of-type(even) .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
	background-color: white;
	padding: 20px;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
	background-color: white;
	padding: 20px 0;
}

.woocommerce .cart-collaterals .cart_totals h2{
	padding-bottom: 20px;
}

.woocommerce .cart-collaterals .cart_totals table, .woocommerce-page .cart-collaterals .cart_totals table{
	border-radius: 0px !important;
	padding: 10px !important;
}

#post-32 #about-section{
	background: white !important;
}

.woocommerce .cart-collaterals .shipping_calculator h2{
	font-size: 1.3em;
	line-height: 1.3em;
	text-align: right;
}

.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info{
	border-top: 3px solid black !important;
}

.woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info{
	padding: 1em 1em 1em 3.5em !important;
	margin: 0 0 2em !important;
	position: relative;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	background: white !important;
	color: black !important;
	text-shadow: 0 0px 0 #ffffff !important;
	list-style: none outside !important;
	width: auto;
	font-family: $pitch;
	-webkit-box-shadow:none !important;
	box-shadow: none !important;
}

.woocommerce .woocommerce-message:before, .woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before{
	padding-top: 0px !important;
	border-radius: 0px !important;
}

.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before{
	background-color: black !important;
}

.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus{
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	text-align: center;
	vertical-align: text-top;
	width: 20px;
	height: 15px;
	text-decoration: none;
	overflow: visible;
	font-weight: bold;
	cursor: pointer;
	line-height: 13px;
	font-size: 12px;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	color: black !important;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	border: 1px solid black !important;
	background: white !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table, .woocommerce #payment, .woocommerce-page #payment{
	border-radius: 0px !important;
	background: white !important;
}

.woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box{
	position: relative;
	width: 96%;
	padding: 1em 2%;
	margin: 1em 0 1em 0;
	font-size: 0.92em;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	border: 1px solid black;
	line-height: 1.5em;
	background: white !important;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
	color: black !important;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

woocommerce-result-count

.woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after{
	display: none !important;
}

#ship-to-different-address label{
	font-size: 30px;
	float: left;
	color: black;
	width: 100%;
}
#ship-to-different-address input{
	float: left
}

button:hover, button:focus, .button:hover, .button:focus{
	background-color: #111111;
}

#arrowL, #arrowR{
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff 100%);
	width:200px;
	height:350px;
	cursor:pointer;
	position: absolute;
	z-index: 999999;
}

#arrowL{
	left:0px;
	background: -webkit-linear-gradient(right, rgba(255,255,255,0) 0%, #ffffff 100%);
}	

#arrowR{
	right:0px;
}

#post-139 .beer-info .right img{
	width: 100%;
	max-width: 350px;
	height: auto;
	margin-top: 20px;
}

strong{
/*	font-family: 'SouvenirStd-Demi';*/
	letter-spacing: 0px;
}

.products h3{
	font-size: 30px;
}

.eighty{
	width: 80%;
	margin: 0 10%;
}

.eighty-text{
	padding: 40px;
	width: 70%;
	margin: 0 15%;
}

#limited-slide li{
	position: relative;
}

.video h2{
	padding-top: 2px;
}

.woocommerce-ordering{
	border: 1px solid black;
}

.woocommerce-ordering #foo{
	margin-bottom: 0px;
}

#about-section .row{
	position: relative;
}

.outstock_button{
	color: rgba(174,0,0,1) !important;
}

.variations td{
	background-color: #fff;
}

table.variations{
	border: 0px solid white;
}

.variations label{
	padding-top: 15px;
	font-family: $pitch;
	font-weight: $bold;
	display: none;
}

.variations td.label{
	display: none;
}

.sku_wrapper, .additional_information_tab active, #tab-additional_information{
	display: none;
}

#my_custom_checkout_field h3{
	font-size: 30px;
	line-height: 1;
	padding-bottom: 10px;
	margin-top: 30px;
}

.plz-buy{
	width: auto;
	margin-right: 0px;
	float: right;
	position: absolute;
	top: 36px;
	right: 270px;
}


#overlay{
	display: none;
}

div#overlay.post-163{
	background-color: rgba(0,0,0,0.80);
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
	z-index: 999999;
	display: block;
}

div#over-cont{
	background:lightgrey;
	height:420px;
	width:300px;
	position: fixed;
	left:50%;
	top:40%;
	margin-left: -150px;
	margin-top:-170px;
	padding: 30px;
	padding-top:20px;
	
}

div#over-cont h1{
	line-height: 80px;
	padding-bottom: 15px;
}


div#over-cont p{
	font-size: 0.9em;
}

.split{
	width: 100%;
	float: left;
	height:45px;
	border: 1px solid black;
	padding-top: 10.5px;
	text-align: center;
	margin-bottom: 10px;
}

#eighteen{
	cursor: pointer;
}

.fifth{
	width: 20%;
	float: left;
}
