$pitch: 'Pitch-Medium',Sans-Serif;
$bold: 800;

a{
	color: black;
}

a:hover{
	color: black;
	opacity: 0.8;
	text-decoration: underline;	
}


h1, h2, h3{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'League-Gothic';
	font-weight: normal;
	text-transform: uppercase;
}

h1.header-one{
	font-family: $pitch;
	font-size: 30px;
	text-transform: lowercase;
	padding-bottom: 20px;
}

h4, p, a, button, .button{
	font-family: $pitch;
	font-weight: normal;
	text-transform: none;	
}

h4{
	font-family: $pitch;
	font-weight: $bold;
	line-height: 1.3;
	padding-bottom: 30px; 
}

p{
	font-size: 0.9em;
	line-height: 1.4;
}

h5{
	font-family: $pitch;
	font-weight: $bold;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: -18px;
	margin-bottom: 20px;
}

b{
	letter-spacing: -1px;
}

span.demi{
	font-family: $pitch;
	font-weight: $bold;
	font-size: 15px;	
}

h1{
	font-size: 95px;
}

h2{
	font-size: 4em;
	line-height: 50px;
	padding-bottom: 10px;
}

h3{
	font-size: 40px;
}
 .category-news h3{
	font-size: 38px;
	line-height: 38px;
	padding-bottom:5px;
}

h4{
	padding-bottom: 10px;
}

.homepage h1, .homepage h2{
	color: white;
	/*border-bottom: 5px solid white;*/
	padding-bottom: 0px;
	margin-bottom: 0px;
	line-height: 90px;
	
}

.homepage h2{
	font-family: $pitch;
	font-size: 18px;
	letter-spacing: 2px;
	line-height:40px;
	border-bottom: none;
}

.heading h2{
	font-family: $pitch;
	text-transform: none;
	font-size: 16px;
}

blockquote{
	border-left: none;
	font-family: $pitch;
	font-weight: $bold;
	color: black;
	padding: 20px 0;
	font-size: 24px;
	line-height: 1.4;
	width: 80%;
	margin: 0 10%;
	margin-bottom: 30px;
}
blockquote p{
	border-left: none;
	font-family: $pitch;
	font-weight: $bold;
	font-size: 24px;
	line-height: 1.4;
	padding: 20px 0;
	color: black;
}

.dark h3{
	color: black;
}

.home-hover h3, .home-hover p, .home-hover a{
	color: white;
}

.home-hover h3{
	font-size: 30px;
	z-index: 9999;
	position: relative;
	line-height: 50px;
}

.home-hover p{
	margin-bottom: 5px;
}

.home-hover hr{
	margin: 0px;
	margin-bottom: 5px;
}

.news p{
	line-height: 1.2em;
	font-size: 0.95em;
}


button, .button, input.wpcf7-form-control.wpcf7-submit{
	font-family: $pitch;
	font-weight: $bold;
	border: 1px solid black;
	cursor: pointer;
	line-height: normal;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 0.8em 1.2em;
	font-size: 1rem;
	background-color: transparent;
	color: black;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}

button, .button{
	margin: 0 0 1.25rem;
}

button:hover, 
.button:hover, 
input.wpcf7-form-control.wpcf7-submit:hover
{
	background-color: rgba(0,0,0,0.8);
	color: white;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}

input.wpcf7-form-control.wpcf7-submit{
	width: 150px;
	color: #666;
	border: 1px solid #666;
}


#contact .forty input.wpcf7-form-control.wpcf7-submit{
	width: 150px;
	color: #fff;
	border: 1px solid #fff;
}

#contact .forty input.wpcf7-form-control.wpcf7-submit:hover{
	width: 150px;
	color: #fff;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,0.80);
}


/*.dark button, .dark .button{

	border: 1px solid white;
	background-color: transparent;
	color: white;
}

.dark button:hover,
.dark .button:hover{
	border: 1px solid black;
	background-color: black;
	color: #2a2a2a;
}*/

div.excerpt p{
	font-size: 1em; 
}

